#### Date and Time Data Types and Tools

In [1]:
from datetime import datetime

now = datetime.now()

In [2]:
now

datetime.datetime(2018, 12, 3, 10, 5, 51, 275446)

In [3]:
now.year, now.month, now.day

(2018, 12, 3)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta

start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

![datetime](./pics/datetime.png)

#### Converting Between String and Datetime

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

![datetime-format](./pics/datetime-format.png)

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [13]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [15]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
import pandas as pd

datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
idx[2]

NaT

In [19]:
pd.isnull(idx)

array([False, False,  True])

> NaT (Not a Time) is pandasâ€™s null value for timestamp data.

#### Time Series Basics

In [20]:
from datetime import datetime

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [21]:
import numpy as np

ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.183924
2011-01-05    0.030558
2011-01-07   -0.744108
2011-01-08   -0.176632
2011-01-10    0.199775
2011-01-12   -1.006871
dtype: float64

In [22]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts + ts[::2]

2011-01-02    0.367848
2011-01-05         NaN
2011-01-07   -1.488215
2011-01-08         NaN
2011-01-10    0.399550
2011-01-12         NaN
dtype: float64

In [24]:
ts.index.dtype

dtype('<M8[ns]')

In [25]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

#### Indexing, Selection, Subsetting

In [26]:
stamp = ts.index[2]
ts[stamp]

-0.7441077034616345

In [27]:
ts['1/10/2011']

0.1997748111685411

In [28]:
ts['20110110']

0.1997748111685411

In [29]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [30]:
longer_ts.tail()

2002-09-22   -1.013710
2002-09-23    0.972840
2002-09-24   -1.369455
2002-09-25    1.321078
2002-09-26    1.912903
Freq: D, dtype: float64

In [31]:
longer_ts['2001']

2001-01-01    1.188852
2001-01-02   -0.304927
2001-01-03    0.486422
2001-01-04   -0.455665
2001-01-05    1.685999
2001-01-06    0.062853
2001-01-07    1.435597
2001-01-08    0.112425
2001-01-09   -1.212951
2001-01-10   -0.569602
2001-01-11    1.409632
2001-01-12    0.312094
2001-01-13    1.278606
2001-01-14    0.222870
2001-01-15    1.308266
2001-01-16    0.848605
2001-01-17   -0.565756
2001-01-18   -1.523795
2001-01-19    0.063677
2001-01-20   -0.385017
2001-01-21    0.203141
2001-01-22   -0.943512
2001-01-23    0.542876
2001-01-24    0.845570
2001-01-25    0.244271
2001-01-26    0.232394
2001-01-27    0.294323
2001-01-28   -0.400660
2001-01-29    0.334184
2001-01-30   -0.267061
                ...
2001-12-02    0.220052
2001-12-03   -2.098468
2001-12-04   -1.105394
2001-12-05   -1.268310
2001-12-06   -1.075687
2001-12-07    0.125473
2001-12-08    0.489039
2001-12-09   -0.550099
2001-12-10   -1.926358
2001-12-11    0.403221
2001-12-12    0.184628
2001-12-13   -0.554570
2001-12-14    0.472648
2001-12-15   -0.516313
2001-12-16    0.003868
2001-12-17    0.673436
2001-12-18    1.326643
2001-12-19    0.049998
2001-12-20   -1.808219
2001-12-21   -0.480267
2001-12-22    0.652420
2001-12-23   -0.729235
2001-12-24    0.092148
2001-12-25   -0.173048
2001-12-26   -1.856121
2001-12-27    0.234081
2001-12-28    1.021826
2001-12-29   -0.888701
2001-12-30    0.764604
2001-12-31   -0.202153
Freq: D, Length: 365, dtype: float64

In [32]:
longer_ts['2001-05']

2001-05-01   -1.359922
2001-05-02    1.286906
2001-05-03   -0.121126
2001-05-04   -0.294705
2001-05-05    1.113529
2001-05-06    0.400749
2001-05-07    0.132271
2001-05-08   -0.656588
2001-05-09   -0.237392
2001-05-10    0.565510
2001-05-11    1.039649
2001-05-12    0.885331
2001-05-13   -0.273968
2001-05-14    2.247375
2001-05-15   -1.125132
2001-05-16    0.347739
2001-05-17   -1.093564
2001-05-18    1.560539
2001-05-19   -0.722084
2001-05-20    2.102678
2001-05-21   -1.088566
2001-05-22    1.105378
2001-05-23   -0.840407
2001-05-24    0.942365
2001-05-25    1.016289
2001-05-26   -0.221652
2001-05-27   -0.547567
2001-05-28   -1.219236
2001-05-29   -0.741323
2001-05-30   -0.645936
2001-05-31   -1.262488
Freq: D, dtype: float64

In [33]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.744108
2011-01-08   -0.176632
2011-01-10    0.199775
2011-01-12   -1.006871
dtype: float64

In [34]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.744108
2011-01-08   -0.176632
2011-01-10    0.199775
dtype: float64

In [35]:
ts.truncate(after='1/9/2011')

2011-01-02    0.183924
2011-01-05    0.030558
2011-01-07   -0.744108
2011-01-08   -0.176632
dtype: float64

In [36]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.751120  0.629870 -0.891344  3.020770
2001-05-09  1.029911 -0.410336  1.202450  0.662779
2001-05-16 -0.629272  1.516796  0.489128  0.279789
2001-05-23  0.831279 -0.879985 -0.910514  0.107380
2001-05-30  0.627861  0.001730  0.569034 -0.642335

#### Time Series with Duplicate Indices

In [37]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [38]:
dup_ts.index.is_unique

False

In [39]:
dup_ts['1/3/2000']

4

In [40]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [41]:
grouped = dup_ts.groupby(level=0)
grouped

In [42]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [43]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

#### Date Ranges, Frequencies, and Shifting

In [44]:
ts

2011-01-02    0.183924
2011-01-05    0.030558
2011-01-07   -0.744108
2011-01-08   -0.176632
2011-01-10    0.199775
2011-01-12   -1.006871
dtype: float64

In [45]:
resampler = ts.resample('D')

In [46]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

#### Generating Date Ranges

In [47]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range('2000-01-01', '2001-01-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

![frequencies](./pics/frequencies.png)

In [51]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

#### Frequencies and Date Offsets

In [53]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [54]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [55]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [56]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

#### Shifting (Leading and Lagging) Data

In [57]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.004769
2000-02-29    0.052258
2000-03-31   -0.698221
2000-04-30    1.447961
Freq: M, dtype: float64

In [58]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.004769
2000-04-30    0.052258
Freq: M, dtype: float64

In [59]:
ts.shift(-2)

2000-01-31   -0.698221
2000-02-29    1.447961
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [60]:
ts / ts.shift(1) - 1

2000-01-31          NaN
2000-02-29     9.958749
2000-03-31   -14.361106
2000-04-30    -3.073786
Freq: M, dtype: float64

In [61]:
ts.shift(2, freq='M')

2000-03-31    0.004769
2000-04-30    0.052258
2000-05-31   -0.698221
2000-06-30    1.447961
Freq: M, dtype: float64

In [62]:
ts.shift(3, freq='D')

2000-02-03    0.004769
2000-03-03    0.052258
2000-04-03   -0.698221
2000-05-03    1.447961
dtype: float64

In [63]:
DECts.shift(1, freq='90T')

2000-01-31 01:30:00    0.004769
2000-02-29 01:30:00    0.052258
2000-03-31 01:30:00   -0.698221
2000-04-30 01:30:00    1.447961
Freq: M, dtype: float64

In [64]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [65]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [66]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [67]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [68]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [69]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -0.602877
2000-01-19   -1.990029
2000-01-23   -0.672946
2000-01-27    0.283062
2000-01-31   -0.993507
2000-02-04   -2.035054
2000-02-08   -1.108993
2000-02-12    0.860502
2000-02-16   -0.331003
2000-02-20    1.976520
2000-02-24   -0.746533
2000-02-28    0.534445
2000-03-03    0.061447
2000-03-07    0.122650
2000-03-11    0.724452
2000-03-15    0.948558
2000-03-19    0.536418
2000-03-23   -0.157955
2000-03-27    0.661345
2000-03-31    0.176991
Freq: 4D, dtype: float64

In [70]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.795259
2000-02-29   -0.121445
2000-03-31    0.384238
dtype: float64

In [71]:
ts.resample('M').mean()

2000-01-31   -0.795259
2000-02-29   -0.121445
2000-03-31    0.384238
Freq: M, dtype: float64

#### Time Zone Handling

In [72]:
import pytz

pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [73]:
tz = pytz.timezone('America/New_York')

In [74]:
tz

In [75]:
tz = pytz.timezone('Asia/Shanghai')

In [76]:
tz

#### Time Zone Localization and Conversion

In [77]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -2.277543
2012-03-10 09:30:00    0.394815
2012-03-11 09:30:00   -0.318949
2012-03-12 09:30:00   -0.442214
2012-03-13 09:30:00    0.892349
2012-03-14 09:30:00    2.527249
Freq: D, dtype: float64

In [78]:
print(ts.index.tz)

None

In [79]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [80]:
ts

2012-03-09 09:30:00   -2.277543
2012-03-10 09:30:00    0.394815
2012-03-11 09:30:00   -0.318949
2012-03-12 09:30:00   -0.442214
2012-03-13 09:30:00    0.892349
2012-03-14 09:30:00    2.527249
Freq: D, dtype: float64

In [81]:
ts_utc = ts.tz_localize('UTC')

In [82]:
ts_utc

2012-03-09 09:30:00+00:00   -2.277543
2012-03-10 09:30:00+00:00    0.394815
2012-03-11 09:30:00+00:00   -0.318949
2012-03-12 09:30:00+00:00   -0.442214
2012-03-13 09:30:00+00:00    0.892349
2012-03-14 09:30:00+00:00    2.527249
Freq: D, dtype: float64

In [83]:
ts.tz_localize('Asia/Shanghai')

2012-03-09 09:30:00+08:00   -2.277543
2012-03-10 09:30:00+08:00    0.394815
2012-03-11 09:30:00+08:00   -0.318949
2012-03-12 09:30:00+08:00   -0.442214
2012-03-13 09:30:00+08:00    0.892349
2012-03-14 09:30:00+08:00    2.527249
Freq: D, dtype: float64

In [84]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [85]:
ts.index

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [86]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -2.277543
2012-03-10 04:30:00-05:00    0.394815
2012-03-11 05:30:00-04:00   -0.318949
2012-03-12 05:30:00-04:00   -0.442214
2012-03-13 05:30:00-04:00    0.892349
2012-03-14 05:30:00-04:00    2.527249
Freq: D, dtype: float64

In [87]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -2.277543
2012-03-10 14:30:00+00:00    0.394815
2012-03-11 13:30:00+00:00   -0.318949
2012-03-12 13:30:00+00:00   -0.442214
2012-03-13 13:30:00+00:00    0.892349
2012-03-14 13:30:00+00:00    2.527249
Freq: D, dtype: float64

In [88]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -2.277543
2012-03-10 15:30:00+01:00    0.394815
2012-03-11 14:30:00+01:00   -0.318949
2012-03-12 14:30:00+01:00   -0.442214
2012-03-13 14:30:00+01:00    0.892349
2012-03-14 14:30:00+01:00    2.527249
Freq: D, dtype: float64

In [89]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

#### Operations with Time Zoneâˆ’Aware Timestamp Objects

In [90]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')

In [91]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [92]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [93]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [94]:
stamp_utc.value

1299902400000000000

In [95]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [101]:
from pandas.tseries.offsets import Hour

stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [103]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [98]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [99]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [105]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00   -0.481139
2012-03-08 09:30:00   -1.740897
2012-03-09 09:30:00   -1.696814
2012-03-12 09:30:00    1.874718
2012-03-13 09:30:00    1.848117
2012-03-14 09:30:00   -0.020221
2012-03-15 09:30:00   -0.051029
2012-03-16 09:30:00   -0.059469
2012-03-19 09:30:00    1.701351
2012-03-20 09:30:00    0.939530
Freq: B, dtype: float64

In [107]:
ts1 = ts[:7].tz_localize('Europe/London')
ts1

2012-03-07 09:30:00+00:00   -0.481139
2012-03-08 09:30:00+00:00   -1.740897
2012-03-09 09:30:00+00:00   -1.696814
2012-03-12 09:30:00+00:00    1.874718
2012-03-13 09:30:00+00:00    1.848117
2012-03-14 09:30:00+00:00   -0.020221
2012-03-15 09:30:00+00:00   -0.051029
Freq: B, dtype: float64

In [109]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2

2012-03-09 13:30:00+04:00   -1.696814
2012-03-12 13:30:00+04:00    1.874718
2012-03-13 13:30:00+04:00    1.848117
2012-03-14 13:30:00+04:00   -0.020221
2012-03-15 13:30:00+04:00   -0.051029
Freq: B, dtype: float64

In [110]:
result = ts1 + ts2
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -3.393629
2012-03-12 09:30:00+00:00    3.749437
2012-03-13 09:30:00+00:00    3.696233
2012-03-14 09:30:00+00:00   -0.040442
2012-03-15 09:30:00+00:00   -0.102058
Freq: B, dtype: float64

In [111]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

####  Periods and Period Arithmetic

In [121]:
p = pd.Period(2007, freq='A-DEC')
p + 5

Period('2012', 'A-DEC')

In [122]:
p - 2

Period('2005', 'A-DEC')

In [123]:
pd.Period('2014', freq='A-DEC') - p

7

In [124]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [125]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -1.161717
2000-02    0.619970
2000-03    0.998969
2000-04   -0.027508
2000-05    0.929269
2000-06    1.021478
Freq: M, dtype: float64

In [150]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

#### Period Frequency Conversion