#### Date and Time Data Types and Tools

In [1]:
from datetime import datetime

now = datetime.now()

In [2]:
now

datetime.datetime(2018, 12, 5, 20, 43, 18, 89370)

In [3]:
now.year, now.month, now.day

(2018, 12, 5)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta

start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

![datetime](./pics/datetime.png)

#### Converting Between String and Datetime

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

![datetime-format](./pics/datetime-format.png)

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [13]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [15]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
import pandas as pd

datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
idx[2]

NaT

In [19]:
pd.isnull(idx)

array([False, False,  True])

> NaT (Not a Time) is pandasâ€™s null value for timestamp data.

#### Time Series Basics

In [20]:
from datetime import datetime

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [21]:
import numpy as np

ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -1.583200
2011-01-05   -0.651998
2011-01-07    1.177264
2011-01-08   -1.265773
2011-01-10   -0.894901
2011-01-12   -0.901474
dtype: float64

In [22]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts + ts[::2]

2011-01-02   -3.166399
2011-01-05         NaN
2011-01-07    2.354529
2011-01-08         NaN
2011-01-10   -1.789802
2011-01-12         NaN
dtype: float64

In [24]:
ts.index.dtype

dtype('<M8[ns]')

In [25]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

#### Indexing, Selection, Subsetting

In [26]:
stamp = ts.index[2]
ts[stamp]

1.1772643924146662

In [27]:
ts['1/10/2011']

-0.8949008989405892

In [28]:
ts['20110110']

-0.8949008989405892

In [29]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [30]:
longer_ts.tail()

2002-09-22    0.119139
2002-09-23   -2.093206
2002-09-24    1.151482
2002-09-25   -0.307935
2002-09-26   -0.389713
Freq: D, dtype: float64

In [31]:
longer_ts['2001']

2001-01-01    0.806547
2001-01-02    0.320690
2001-01-03    0.172308
2001-01-04   -0.194437
2001-01-05   -0.202000
2001-01-06    1.886453
2001-01-07   -0.442513
2001-01-08   -0.741495
2001-01-09   -0.245726
2001-01-10    0.989264
2001-01-11    0.807437
2001-01-12    0.237053
2001-01-13    0.596900
2001-01-14    0.108187
2001-01-15   -0.442266
2001-01-16   -0.711243
2001-01-17   -0.607183
2001-01-18    1.381535
2001-01-19   -0.031977
2001-01-20    0.003398
2001-01-21   -0.419880
2001-01-22   -1.651933
2001-01-23   -0.032547
2001-01-24   -1.094981
2001-01-25    0.595959
2001-01-26   -0.003420
2001-01-27   -0.875899
2001-01-28   -2.136912
2001-01-29    0.342064
2001-01-30    0.132124
                ...
2001-12-02   -0.615374
2001-12-03   -0.627502
2001-12-04   -1.099013
2001-12-05    0.463545
2001-12-06    0.290610
2001-12-07   -0.063712
2001-12-08   -0.634985
2001-12-09    1.044103
2001-12-10    0.165153
2001-12-11    3.468818
2001-12-12    1.275082
2001-12-13    1.418812
2001-12-14   -1.241982
2001-12-15    1.165849
2001-12-16    0.353388
2001-12-17   -0.563702
2001-12-18   -0.039871
2001-12-19    0.087907
2001-12-20    1.804975
2001-12-21    0.403930
2001-12-22   -0.278504
2001-12-23    1.112853
2001-12-24   -1.075647
2001-12-25    0.990112
2001-12-26    0.973157
2001-12-27   -0.499559
2001-12-28   -0.417939
2001-12-29   -0.275836
2001-12-30    0.175921
2001-12-31   -0.863913
Freq: D, Length: 365, dtype: float64

In [32]:
longer_ts['2001-05']

2001-05-01    1.589154
2001-05-02    0.329474
2001-05-03   -0.762613
2001-05-04   -0.256885
2001-05-05    1.071737
2001-05-06   -0.199071
2001-05-07    0.487694
2001-05-08    1.929995
2001-05-09   -0.283461
2001-05-10   -0.064924
2001-05-11   -0.319238
2001-05-12    0.355712
2001-05-13   -0.416157
2001-05-14   -0.107413
2001-05-15    0.372864
2001-05-16    1.389899
2001-05-17   -1.086932
2001-05-18    0.683956
2001-05-19    0.576375
2001-05-20    0.003314
2001-05-21   -0.839253
2001-05-22   -0.645197
2001-05-23    0.410896
2001-05-24   -0.235838
2001-05-25   -2.096071
2001-05-26   -1.959381
2001-05-27    0.633820
2001-05-28   -0.408940
2001-05-29    2.596086
2001-05-30    0.063074
2001-05-31   -1.624112
Freq: D, dtype: float64

In [33]:
ts[datetime(2011, 1, 7):]

2011-01-07    1.177264
2011-01-08   -1.265773
2011-01-10   -0.894901
2011-01-12   -0.901474
dtype: float64

In [34]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.177264
2011-01-08   -1.265773
2011-01-10   -0.894901
dtype: float64

In [35]:
ts.truncate(after='1/9/2011')

2011-01-02   -1.583200
2011-01-05   -0.651998
2011-01-07    1.177264
2011-01-08   -1.265773
dtype: float64

In [36]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.327602  2.088740  0.088392 -0.912998
2001-05-09  0.633200 -0.376237  0.426900 -0.626082
2001-05-16 -1.231226  1.523168 -1.111853 -1.100507
2001-05-23  1.039188 -1.348664 -0.778644 -0.177491
2001-05-30 -1.517547 -0.885791  2.219104  0.200105

#### Time Series with Duplicate Indices

In [37]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [38]:
dup_ts.index.is_unique

False

In [39]:
dup_ts['1/3/2000']

4

In [40]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [41]:
grouped = dup_ts.groupby(level=0)
grouped

In [42]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [43]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

#### Date Ranges, Frequencies, and Shifting

In [44]:
ts

2011-01-02   -1.583200
2011-01-05   -0.651998
2011-01-07    1.177264
2011-01-08   -1.265773
2011-01-10   -0.894901
2011-01-12   -0.901474
dtype: float64

In [45]:
resampler = ts.resample('D')

In [46]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

#### Generating Date Ranges

In [47]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range('2000-01-01', '2001-01-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

![frequencies](./pics/frequencies.png)

In [51]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

#### Frequencies and Date Offsets

In [53]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [54]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [55]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [56]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

#### Shifting (Leading and Lagging) Data

In [57]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.081917
2000-02-29    1.190294
2000-03-31    1.470004
2000-04-30   -0.952920
Freq: M, dtype: float64

In [58]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.081917
2000-04-30    1.190294
Freq: M, dtype: float64

In [59]:
ts.shift(-2)

2000-01-31    1.470004
2000-02-29   -0.952920
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [60]:
ts / ts.shift(1) - 1

2000-01-31          NaN
2000-02-29    13.530437
2000-03-31     0.234993
2000-04-30    -1.648243
Freq: M, dtype: float64

In [61]:
ts.shift(2, freq='M')

2000-03-31    0.081917
2000-04-30    1.190294
2000-05-31    1.470004
2000-06-30   -0.952920
Freq: M, dtype: float64

In [62]:
ts.shift(3, freq='D')

2000-02-03    0.081917
2000-03-03    1.190294
2000-04-03    1.470004
2000-05-03   -0.952920
dtype: float64

In [63]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.081917
2000-02-29 01:30:00    1.190294
2000-03-31 01:30:00    1.470004
2000-04-30 01:30:00   -0.952920
Freq: M, dtype: float64

In [64]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [65]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [66]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [67]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [68]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [69]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    1.171603
2000-01-19   -0.419159
2000-01-23   -0.695171
2000-01-27   -0.277243
2000-01-31    1.042480
2000-02-04    0.218277
2000-02-08   -0.987702
2000-02-12    0.952349
2000-02-16    1.012442
2000-02-20   -1.387059
2000-02-24   -0.403311
2000-02-28   -0.463813
2000-03-03    1.254578
2000-03-07   -2.131323
2000-03-11    0.567589
2000-03-15   -0.209976
2000-03-19   -0.172505
2000-03-23    0.312563
2000-03-27    1.045013
2000-03-31   -1.051561
Freq: 4D, dtype: float64

In [70]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.164502
2000-02-29   -0.151259
2000-03-31   -0.048203
dtype: float64

In [71]:
ts.resample('M').mean()

2000-01-31    0.164502
2000-02-29   -0.151259
2000-03-31   -0.048203
Freq: M, dtype: float64

#### Time Zone Handling

In [72]:
import pytz

pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [73]:
tz = pytz.timezone('America/New_York')

In [74]:
tz

In [75]:
tz = pytz.timezone('Asia/Shanghai')

In [76]:
tz

#### Time Zone Localization and Conversion

In [77]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -0.635494
2012-03-10 09:30:00   -0.283416
2012-03-11 09:30:00    0.358521
2012-03-12 09:30:00    1.455696
2012-03-13 09:30:00   -0.509773
2012-03-14 09:30:00    0.211329
Freq: D, dtype: float64

In [78]:
print(ts.index.tz)

None

In [79]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [80]:
ts

2012-03-09 09:30:00   -0.635494
2012-03-10 09:30:00   -0.283416
2012-03-11 09:30:00    0.358521
2012-03-12 09:30:00    1.455696
2012-03-13 09:30:00   -0.509773
2012-03-14 09:30:00    0.211329
Freq: D, dtype: float64

In [81]:
ts_utc = ts.tz_localize('UTC')

In [82]:
ts_utc

2012-03-09 09:30:00+00:00   -0.635494
2012-03-10 09:30:00+00:00   -0.283416
2012-03-11 09:30:00+00:00    0.358521
2012-03-12 09:30:00+00:00    1.455696
2012-03-13 09:30:00+00:00   -0.509773
2012-03-14 09:30:00+00:00    0.211329
Freq: D, dtype: float64

In [83]:
ts.tz_localize('Asia/Shanghai')

2012-03-09 09:30:00+08:00   -0.635494
2012-03-10 09:30:00+08:00   -0.283416
2012-03-11 09:30:00+08:00    0.358521
2012-03-12 09:30:00+08:00    1.455696
2012-03-13 09:30:00+08:00   -0.509773
2012-03-14 09:30:00+08:00    0.211329
Freq: D, dtype: float64

In [84]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [85]:
ts.index

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [86]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.635494
2012-03-10 04:30:00-05:00   -0.283416
2012-03-11 05:30:00-04:00    0.358521
2012-03-12 05:30:00-04:00    1.455696
2012-03-13 05:30:00-04:00   -0.509773
2012-03-14 05:30:00-04:00    0.211329
Freq: D, dtype: float64

In [87]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.635494
2012-03-10 14:30:00+00:00   -0.283416
2012-03-11 13:30:00+00:00    0.358521
2012-03-12 13:30:00+00:00    1.455696
2012-03-13 13:30:00+00:00   -0.509773
2012-03-14 13:30:00+00:00    0.211329
Freq: D, dtype: float64

In [88]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.635494
2012-03-10 15:30:00+01:00   -0.283416
2012-03-11 14:30:00+01:00    0.358521
2012-03-12 14:30:00+01:00    1.455696
2012-03-13 14:30:00+01:00   -0.509773
2012-03-14 14:30:00+01:00    0.211329
Freq: D, dtype: float64

In [89]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

#### Operations with Time Zoneâˆ’Aware Timestamp Objects

In [90]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')

In [91]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [92]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [93]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [94]:
stamp_utc.value

1299902400000000000

In [95]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [96]:
from pandas.tseries.offsets import Hour

stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [97]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [98]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [99]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [100]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00    0.193751
2012-03-08 09:30:00    0.489681
2012-03-09 09:30:00    0.476459
2012-03-12 09:30:00   -2.374528
2012-03-13 09:30:00    0.116762
2012-03-14 09:30:00    0.350735
2012-03-15 09:30:00    1.351314
2012-03-16 09:30:00   -1.483979
2012-03-19 09:30:00    0.243021
2012-03-20 09:30:00   -0.779364
Freq: B, dtype: float64

In [101]:
ts1 = ts[:7].tz_localize('Europe/London')
ts1

2012-03-07 09:30:00+00:00    0.193751
2012-03-08 09:30:00+00:00    0.489681
2012-03-09 09:30:00+00:00    0.476459
2012-03-12 09:30:00+00:00   -2.374528
2012-03-13 09:30:00+00:00    0.116762
2012-03-14 09:30:00+00:00    0.350735
2012-03-15 09:30:00+00:00    1.351314
Freq: B, dtype: float64

In [102]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2

2012-03-09 13:30:00+04:00    0.476459
2012-03-12 13:30:00+04:00   -2.374528
2012-03-13 13:30:00+04:00    0.116762
2012-03-14 13:30:00+04:00    0.350735
2012-03-15 13:30:00+04:00    1.351314
Freq: B, dtype: float64

In [103]:
result = ts1 + ts2
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00    0.952918
2012-03-12 09:30:00+00:00   -4.749055
2012-03-13 09:30:00+00:00    0.233524
2012-03-14 09:30:00+00:00    0.701469
2012-03-15 09:30:00+00:00    2.702629
Freq: B, dtype: float64

In [104]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

####  Periods and Period Arithmetic

In [105]:
p = pd.Period(2007, freq='A-DEC')
p + 5

Period('2012', 'A-DEC')

In [106]:
p - 2

Period('2005', 'A-DEC')

In [107]:
pd.Period('2014', freq='A-DEC') - p

7

In [108]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [109]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.022531
2000-02    0.870782
2000-03    0.757076
2000-04   -0.716879
2000-05   -1.474052
2000-06    1.532920
Freq: M, dtype: float64

In [110]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

#### Period Frequency Conversion

In [121]:
p = pd.Period('2007', freq='A-FEB')

In [122]:
p

Period('2007', 'A-FEB')

In [123]:
p.asfreq('M', how='start')

Period('2006-03', 'M')

In [124]:
p.asfreq('M', how='end')

Period('2007-02', 'M')

![freqconversion](./pics/freqconversion.png)