In [1]:
import numpy as np
import pandas as pd

In [5]:
pd.read_clipboard()

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
6  0.0  0.0  1.0