#### Date and Time Data Types and Tools

In [1]:
from datetime import datetime

now = datetime.now()

In [2]:
now

datetime.datetime(2018, 11, 29, 16, 41, 56, 580729)

In [3]:
now.year, now.month, now.day

(2018, 11, 29)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta

start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

![datetime](./pics/datetime.png)

#### Converting Between String and Datetime

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

![datetime-format](./pics/datetime-format.png)

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [13]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [15]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
import pandas as pd

datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
idx[2]

NaT

In [19]:
pd.isnull(idx)

array([False, False,  True])

> NaT (Not a Time) is pandasâ€™s null value for timestamp data.

#### Time Series Basics

In [20]:
from datetime import datetime

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [21]:
import numpy as np

ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.393224
2011-01-05    2.120634
2011-01-07    1.237322
2011-01-08   -0.561002
2011-01-10    0.136457
2011-01-12   -0.635657
dtype: float64

In [22]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts + ts[::2]

2011-01-02   -0.786448
2011-01-05         NaN
2011-01-07    2.474644
2011-01-08         NaN
2011-01-10    0.272913
2011-01-12         NaN
dtype: float64

In [24]:
ts.index.dtype

dtype('<M8[ns]')

In [25]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

#### Indexing, Selection, Subsetting

In [26]:
stamp = ts.index[2]
ts[stamp]

1.2373219240076845

In [27]:
ts['1/10/2011']

0.1364566328446602

In [28]:
ts['20110110']

0.1364566328446602

In [29]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [30]:
longer_ts.tail()

2002-09-22   -0.503412
2002-09-23    0.227750
2002-09-24    1.541949
2002-09-25    0.900063
2002-09-26    2.904247
Freq: D, dtype: float64

In [31]:
longer_ts['2001']

2001-01-01   -0.795863
2001-01-02    1.566777
2001-01-03    0.770251
2001-01-04    0.083184
2001-01-05    0.297581
2001-01-06   -1.392228
2001-01-07   -1.464315
2001-01-08    0.898657
2001-01-09   -0.805706
2001-01-10    0.446167
2001-01-11    2.453526
2001-01-12   -1.800879
2001-01-13   -1.193645
2001-01-14   -0.062114
2001-01-15    0.070346
2001-01-16   -0.200596
2001-01-17   -1.558897
2001-01-18    1.096821
2001-01-19   -0.620261
2001-01-20    0.512047
2001-01-21   -1.276702
2001-01-22   -0.340260
2001-01-23    1.110885
2001-01-24    0.874423
2001-01-25   -0.325022
2001-01-26   -0.135471
2001-01-27   -0.170983
2001-01-28   -1.436612
2001-01-29    0.639881
2001-01-30   -0.496760
                ...
2001-12-02    0.116780
2001-12-03   -1.516077
2001-12-04    1.178104
2001-12-05   -0.182915
2001-12-06    1.357627
2001-12-07   -0.688949
2001-12-08    0.223847
2001-12-09   -0.691477
2001-12-10   -0.766245
2001-12-11   -0.429544
2001-12-12    0.700654
2001-12-13   -0.863843
2001-12-14   -0.616245
2001-12-15   -1.289746
2001-12-16   -1.118859
2001-12-17    0.655456
2001-12-18   -0.343857
2001-12-19    0.013632
2001-12-20    0.754010
2001-12-21   -0.838976
2001-12-22   -1.846646
2001-12-23    1.777261
2001-12-24   -0.294633
2001-12-25   -0.339179
2001-12-26    0.363494
2001-12-27   -0.164894
2001-12-28   -1.115517
2001-12-29   -0.245330
2001-12-30   -1.426019
2001-12-31    0.567380
Freq: D, Length: 365, dtype: float64

In [32]:
longer_ts['2001-05']

2001-05-01    1.145922
2001-05-02    1.374700
2001-05-03   -0.246330
2001-05-04   -0.706602
2001-05-05   -2.477808
2001-05-06    0.540314
2001-05-07    1.179791
2001-05-08   -2.631256
2001-05-09   -0.930431
2001-05-10   -1.502735
2001-05-11   -0.792489
2001-05-12    0.443088
2001-05-13   -1.095525
2001-05-14    2.139807
2001-05-15    0.452348
2001-05-16    0.483230
2001-05-17   -0.573678
2001-05-18    0.190511
2001-05-19    0.218556
2001-05-20   -0.313801
2001-05-21   -0.339192
2001-05-22    0.285781
2001-05-23   -0.346311
2001-05-24    1.993845
2001-05-25    0.427024
2001-05-26   -2.337647
2001-05-27    0.327526
2001-05-28    0.733299
2001-05-29   -0.257027
2001-05-30    0.138440
2001-05-31   -0.172658
Freq: D, dtype: float64

In [33]:
ts[datetime(2011, 1, 7):]

2011-01-07    1.237322
2011-01-08   -0.561002
2011-01-10    0.136457
2011-01-12   -0.635657
dtype: float64

In [34]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.237322
2011-01-08   -0.561002
2011-01-10    0.136457
dtype: float64

In [35]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.393224
2011-01-05    2.120634
2011-01-07    1.237322
2011-01-08   -0.561002
dtype: float64

In [36]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.083088  1.458364  0.935085 -0.329690
2001-05-09  0.572276  1.080187 -2.380954  0.184233
2001-05-16 -0.220371  0.122389 -0.839447 -2.057268
2001-05-23 -0.668719  0.480802  0.523625 -1.381126
2001-05-30 -0.274686 -0.164658 -0.110624 -0.977602

#### Time Series with Duplicate Indices

In [37]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [38]:
dup_ts.index.is_unique

False

In [39]:
dup_ts['1/3/2000']

4

In [40]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [41]:
grouped = dup_ts.groupby(level=0)
grouped

In [42]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [43]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

#### Date Ranges, Frequencies, and Shifting

In [44]:
ts

2011-01-02   -0.393224
2011-01-05    2.120634
2011-01-07    1.237322
2011-01-08   -0.561002
2011-01-10    0.136457
2011-01-12   -0.635657
dtype: float64

In [45]:
resampler = ts.resample('D')

In [46]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

#### Generating Date Ranges

In [47]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range('2000-01-01', '2001-01-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

![frequencies](./pics/frequencies.png)

In [51]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

#### Frequencies and Date Offsets

In [53]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [54]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [55]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [56]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

#### Shifting (Leading and Lagging) Data

In [57]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    3.742361
2000-02-29    1.036605
2000-03-31    0.999983
2000-04-30   -0.209149
Freq: M, dtype: float64

In [58]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    3.742361
2000-04-30    1.036605
Freq: M, dtype: float64

In [59]:
ts.shift(-2)

2000-01-31    0.999983
2000-02-29   -0.209149
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [60]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.723008
2000-03-31   -0.035328
2000-04-30   -1.209153
Freq: M, dtype: float64

In [61]:
ts.shift(2, freq='M')

2000-03-31    3.742361
2000-04-30    1.036605
2000-05-31    0.999983
2000-06-30   -0.209149
Freq: M, dtype: float64

In [62]:
ts.shift(3, freq='D')

2000-02-03    3.742361
2000-03-03    1.036605
2000-04-03    0.999983
2000-05-03   -0.209149
dtype: float64

In [63]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    3.742361
2000-02-29 01:30:00    1.036605
2000-03-31 01:30:00    0.999983
2000-04-30 01:30:00   -0.209149
Freq: M, dtype: float64

In [64]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [65]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [66]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [67]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [68]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [69]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    0.316975
2000-01-19   -0.680709
2000-01-23   -0.609262
2000-01-27   -1.308861
2000-01-31    0.431589
2000-02-04    0.899867
2000-02-08   -1.604427
2000-02-12    0.373115
2000-02-16    1.863422
2000-02-20    0.163750
2000-02-24   -0.692634
2000-02-28   -0.730533
2000-03-03    0.342686
2000-03-07    0.873045
2000-03-11   -0.465284
2000-03-15    0.540434
2000-03-19    0.331497
2000-03-23   -1.481590
2000-03-27    1.356215
2000-03-31    0.248632
Freq: 4D, dtype: float64

In [70]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.370054
2000-02-29    0.038937
2000-03-31    0.218204
dtype: float64

In [71]:
ts.resample('M').mean()

2000-01-31   -0.370054
2000-02-29    0.038937
2000-03-31    0.218204
Freq: M, dtype: float64