#### Date and Time Data Types and Tools

In [1]:
from datetime import datetime

now = datetime.now()

In [2]:
now

datetime.datetime(2018, 11, 29, 15, 31, 33, 238245)

In [3]:
now.year, now.month, now.day

(2018, 11, 29)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta

start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

![datetime](./pics/datetime.png)

#### Converting Between String and Datetime

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

![datetime-format](./pics/datetime-format.png)

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [13]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [15]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
import pandas as pd

datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
idx[2]

NaT

In [19]:
pd.isnull(idx)

array([False, False,  True])

> NaT (Not a Time) is pandasâ€™s null value for timestamp data.

#### Time Series Basics

In [20]:
from datetime import datetime

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [21]:
import numpy as np

ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.099888
2011-01-05   -1.758257
2011-01-07   -0.840088
2011-01-08    1.995115
2011-01-10    0.800377
2011-01-12   -0.570569
dtype: float64

In [22]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts + ts[::2]

2011-01-02   -0.199776
2011-01-05         NaN
2011-01-07   -1.680177
2011-01-08         NaN
2011-01-10    1.600754
2011-01-12         NaN
dtype: float64

In [24]:
ts.index.dtype

dtype('<M8[ns]')

In [25]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

#### Indexing, Selection, Subsetting

In [26]:
stamp = ts.index[2]
ts[stamp]

-0.8400883273285306

In [27]:
ts['1/10/2011']

0.800376787721136

In [28]:
ts['20110110']

0.800376787721136

In [29]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [30]:
longer_ts.tail()

2002-09-22   -0.801960
2002-09-23   -0.401646
2002-09-24    0.676588
2002-09-25   -2.236736
2002-09-26    0.377883
Freq: D, dtype: float64

In [31]:
longer_ts['2001']

2001-01-01   -0.317458
2001-01-02    0.978374
2001-01-03    1.660549
2001-01-04    1.799711
2001-01-05   -0.335073
2001-01-06   -1.549029
2001-01-07    0.095495
2001-01-08   -0.586015
2001-01-09    0.951658
2001-01-10   -0.444961
2001-01-11   -0.335860
2001-01-12   -1.668088
2001-01-13   -1.220450
2001-01-14   -0.179771
2001-01-15   -0.936449
2001-01-16    0.023827
2001-01-17    1.360528
2001-01-18    1.200702
2001-01-19    0.761744
2001-01-20   -0.663071
2001-01-21   -1.127751
2001-01-22   -0.484594
2001-01-23    0.611754
2001-01-24   -0.808307
2001-01-25    1.021948
2001-01-26   -0.274993
2001-01-27    0.432748
2001-01-28   -0.360147
2001-01-29   -0.776656
2001-01-30   -1.746308
                ...
2001-12-02   -0.564110
2001-12-03   -0.981197
2001-12-04    0.177860
2001-12-05    0.609915
2001-12-06    1.685314
2001-12-07   -0.010316
2001-12-08    1.023813
2001-12-09   -0.166773
2001-12-10    0.274931
2001-12-11    0.180932
2001-12-12   -1.206056
2001-12-13    0.332308
2001-12-14   -0.455263
2001-12-15   -0.434470
2001-12-16    0.660447
2001-12-17    0.379549
2001-12-18    1.377064
2001-12-19    1.384337
2001-12-20   -0.270519
2001-12-21   -0.833702
2001-12-22   -0.387862
2001-12-23   -1.852935
2001-12-24    0.201346
2001-12-25    1.026226
2001-12-26   -1.120651
2001-12-27   -0.711454
2001-12-28    0.239148
2001-12-29   -0.885369
2001-12-30   -0.031506
2001-12-31    0.982264
Freq: D, Length: 365, dtype: float64

In [32]:
longer_ts['2001-05']

2001-05-01    0.282757
2001-05-02   -1.017030
2001-05-03   -0.356225
2001-05-04    0.179718
2001-05-05   -0.754357
2001-05-06   -0.034795
2001-05-07    0.205099
2001-05-08   -0.809648
2001-05-09   -0.132355
2001-05-10   -0.900260
2001-05-11    1.034624
2001-05-12   -1.555735
2001-05-13   -0.886764
2001-05-14    0.826610
2001-05-15   -1.226986
2001-05-16   -0.882186
2001-05-17    0.499691
2001-05-18   -0.564876
2001-05-19   -1.565469
2001-05-20   -0.678832
2001-05-21    0.827978
2001-05-22    0.170746
2001-05-23    0.489412
2001-05-24   -0.769446
2001-05-25    0.094221
2001-05-26    1.014720
2001-05-27    1.138522
2001-05-28   -0.682886
2001-05-29    0.847709
2001-05-30   -0.458694
2001-05-31    0.661413
Freq: D, dtype: float64

In [33]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.840088
2011-01-08    1.995115
2011-01-10    0.800377
2011-01-12   -0.570569
dtype: float64

In [34]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.840088
2011-01-08    1.995115
2011-01-10    0.800377
dtype: float64

In [35]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.099888
2011-01-05   -1.758257
2011-01-07   -0.840088
2011-01-08    1.995115
dtype: float64

In [36]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.476328  1.048257  0.486952  1.948769
2001-05-09  0.606224  0.372756 -0.626619  0.102095
2001-05-16  0.479675  0.652812 -0.305932 -0.319696
2001-05-23  1.452417 -0.057540 -2.360249  0.772220
2001-05-30  0.582321 -1.000721 -0.893248 -0.320207

#### Time Series with Duplicate Indices

In [37]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [38]:
dup_ts.index.is_unique

False

In [39]:
dup_ts['1/3/2000']

4

In [40]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [41]:
grouped = dup_ts.groupby(level=0)
grouped

In [42]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [43]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64